@font-face {
    font-family: 'America';
    src: url('GT-America-Regular.woff2') format('woff2'),
         url('GT-America-Regular.woff') format('woff'),
         url('GT-America-Regular.eot') format('eot'),
         url('GT-America-Regular.ttf') format('ttf'),;
    font-weight: normal;
    font-style: normal;

}
