{% extends "base.html" %}
{% block content %}
{% include "nav-apply.html" %}
<article class="z-999 cf pa2 pa4-m pt5 pb6-l ph6-l mw9">
  <div class="fn w-50">
    <p class="f5 f4-l lh-copy">
      We’re seeking individuals that have a deep understanding of Tumblr and its community. We’re also seeking to expand our  capabilites by supplementing a skill that our current roster doesn’t specialize in.</p>

      <p class="f5 f4-l lh-copy measure">We could use some help in the diciplines of:<br>
      Video, photography, animation, 3D, VR, AR, AI</p>

      <p class="f5 f4-l lh-copy measure">Activist? Social justice advocate? Internet Artist? We’d love to work with you too.</p>
  </div>

  <!--Spacer  -->
  <div class="fl w-100 w-30-m w-25-l pa3-m pa4-l"></div>

  <!--Prompt + Application  -->
  <div class="fl w-100 w-70-m w-75-l pa3-m pa4-l">

    <p class="f5 f4-l red mb0 lh-copy">Prompt</p>
    <p class=" f5 f4-l mt0 lh-copy measure">Propose a self-initiated project to work on at Tumblr that <span class="ba br4 pv1 ph2 b--red">A</span> Leverages or improves Tumblr’s existing product (iOS/Android app, website) and/or <span class="ba br4 pv1 ph2 b--red">B</span> utilizes, examines, or benefits the Tumblr community.</p>

    <p class="f5 f4-l red mb0 lh-copy">Application</p>
    <p class=" f5 f4-l mt0 lh-copy">The application consists of the following:</p>
    <ol class="f5 f4-l pl0 list lh-copy">
      <li>1. Long form answer</li>
      <li>2. Three short form answers</li>
      <li>3. Basic Information: Name, DOB, Location</li>
      <li>4. Résumé / CV</li>
      <li>5. Letter(s) of recommendation</li>
    </ol>

     <a class="f5 f4-l link br2 ba ph4 pv2 mt5 mb5 mb4-m mb0-l dib red" href="#0">Download it</a>
     <a class="f5 f4-l link br2 ba ph4 pv2 mt5 ml4 dib red" href="#0">Upload it</a>
  </div>

  <!--Spacer  -->
  <div class="fl f5 f4-l w-100 w-30-m w-25-l pa3-m pa4-l"></div>

  <!--Guidelines and Considerations  -->
  <div class="fl w-100 w-70-m w-75-l pa3-m pa4-l">

    <p class="f5 f4-l red mb0 lh-copy">Guidelines</p>
    <ol class="f5 f4-l mt0 pl0 list lh-copy measure">
      <li>1. The project must be completed in 12 weeks or less.</li>
      <li>2. The project must have a tangible output. The medium is completely up to you.</li>
      <li>3. The project should somehow benefit Tumblr’s product or community.</li>
    </ol>
  </div>
</article>
{% endblock content%}
